#outer{
	position: relative;
	width: 400px;
	height: 400px;
	background-color: blue;
	margin: auto;
	padding: 25px
}
#inner{
    position: absolute;
	width: 400px;
	height: 400px;
	background-color: #00FFFF;
	
}	
p{
	padding: 30px;
}